body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.hero img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
}

/* texte en bas de l'image */
.hero-text {
    position: absolute;
    bottom: 5px;   /* place le texte en bas de l'image */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7); /* rend le texte lisible */
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 90%;
}

.content {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.produits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.produit {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.produit img {
    width: 100%;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #b48e92;
    color: white;
    border: none;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
